Django==3.2
django-cors-headers==3.7.0
django-filter==2.4.0
django-jsonfield==1.4.1
django-utils-six==2.0
djangorestframework==3.12.4
djangorestframework-simplejwt==4.6.0
Pillow==8.2.0
whitenoise==5.2.0